---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import SkillsSection from '../components/SkillsSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import EducationSection from '../components/EducationSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <HeroSection />
    <ExperienceSection />
    <EducationSection />
    <SkillsSection />
    <ProjectsSection />
  </main>
  <Footer />
</Layout>

<style>
  main {
    position: relative;
  }
</style>
